@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

/*Headings*/
header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Cinzel', serif;
    color: snow;
    font-size: 4rem;
    padding-bottom: 75px;
}

/*Final score section*/
#finalScore {
    display: flex;
    justify-content: center;
}

/*Home and Play again buttons*/
.btn {
    border: 3px solid #800020;
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background-color: black;
    color: snow;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px rgba(128, 0, 32, 0.6);
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.btn:hover {
    color: black;
    background-color: #800020;
    font-weight: bolder;
}

.btn:active {
    color: snow;
    background-color: black;
    border: 3px solid rgba(128, 0, 32, 0.6);
}

.button-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: fit-content;
    width: 20vw;
    margin: 0 auto;
    padding: 2rem;
}

/*Media Queries*/
/* For large screens from 2500px wide and down */
@media screen and (max-width: 2500px) {
    h1 {
        font-size: 4rem;
    }

    .btn {
        font-size: 3rem;
    }
}

/* For large to medium screens from 1600px wide and down */
@media screen and (max-width: 1600px) {
    .btn {
        font-size: 2.7rem;
    }
}

/* For medium screens from 1366px wide and down */
@media screen and (max-width: 1366px) {
    .btn {
        font-size: 2rem;
    }
}

/* For medium screens from 1024px wide and down */
@media screen and (max-width: 1024px) {
    #finalScore {
        padding-bottom: 5px;
    }

    .btn {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }
}

/* For medium screens from 800px wide and down */
@media screen and (max-width: 800px) {
    h1 {
        padding-bottom: 300px;
    }

    .btn {
        font-size: 2rem;
    }
}

/* For medium screens from 600px wide and down */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    .btn {
        font-size: 1.5rem;
    }
}

/* For small screens from 527px wide and down */
@media screen and (max-width: 527px) {
    h1 {
        font-size: 1.5rem;
        padding-bottom: 200px;
    }

    .btn {
        font-size: 1.25rem;
    }
}

/* For small screens from 414px wide and down */
@media screen and (max-width: 414px) {
    h1 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 1rem;
    }
}

/* For small screens from 384px wide and down */
@media screen and (max-width: 384px) {
    h1 {
        padding-bottom: 150px;
    }

    .btn {
        font-size: 0.9rem;
    }
}

/* For small screens from 320px wide and down */
@media screen and (max-width: 320px) {
    h1 {
        padding-bottom: 100px;
    }

    .btn {
        font-size: 0.7rem;
    }
}