@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Cinzel', serif;
    color: #800020;
    font-size: 4rem;
    padding-bottom: 75px;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: snow;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Cinzel', serif;
    color: snow;
    font-weight: bolder;
    background-color: transparent;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem;
}
.choice-container {
    display: flex;
    margin-bottom: 2rem;
    font-size: 2rem;
    border: 3px solid snow;
    background-color: black;
    border-radius: 10px;
    
}

.choice-container:hover {
    cursor: pointer;
    background-color: #800020;
    font-weight: bolder;
}

.choice-container:active {
    background-color: black;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #800020;
    border-radius: 10px;
}

.choice-text {
    padding: 1.5rem;
}

.correct {
    background: linear-gradient(to right, #008000 10%, #329b24 10%, 
    #52b640 10%, #6fd25a 10%, #8cef74 10%, #a8ff8f 10%, #c6ffab 10%,   
    #e3ffc7 10%, #ffffe3 10%, #ffffff 10%);
}

.incorrect {
    background: linear-gradient(to right, #800000 20%, #720000 20%, #590000 20%, #3f0000 20%, #1c0000 20%);
}