@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Cinzel', serif;
    color: snow;
    font-size: 4rem;
    padding-bottom: 75px;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: snow;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Cinzel', serif;
    color: snow;
    font-weight: bolder;
    background-color: grey;
}

.choice-container {
    display: flex;
    margin-bottom: 2rem;
    font-size: 2rem;
    border: 3px solid snow;
    background-color: grey;
    border-radius: 10px;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: black;
    border-radius: 10px;
}

.choice-text {
    padding: 1.5rem;
}