@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}
/*Headings section*/
header {
    display: flex;
    justify-content: center;
}

.qtitle {
    color: snow;
}
/*HUD section*/
h1 {
    font-family: 'Cinzel', serif;
    color: #800020;
    font-size: 4rem;
    padding-bottom: 40px;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    color: snow;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Cinzel', serif;
    color: snow;
    font-weight: bolder;
    background-color: transparent;
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

#hud {
    display: flex;
    justify-content: space-between;
}

#hud-prefix {
    text-align: center;
}

.hud-main-text {
    text-align: center;
}

/*Quiz section*/
.choice-container {
    display: flex;
    margin-bottom: 1rem;
    font-size: 2rem;
    border: 3px solid snow;
    background-color: black;
    border-radius: 10px;
}

.choice-container:hover {
    cursor: pointer;
    font-weight: bolder;
    transform: scale(1.02);
    box-shadow: 0 2px 5px rgba(128, 0, 32, 0.6);
}

.choice-container:active {
    background-color: black;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #800020;
    border-radius: 10px;
}

.choice-text {
    padding: 1.5rem;
    width: 100%
}

.correct {
    background-color: #008000;
}

.incorrect {
    background-color: #800000;

}


/*Media Queries*/
@media screen and (max-width: 2425px) {
    h2 {
        font-size: 1.8rem;
    }

    .choice-text {
        font-size: 1.5rem;
    }

    .hud-main-text {
        font-size: 1.5rem;
    }

    .choice-container {
        min-width: 40rem;
        height: fit-content;
    }
}

@media screen and (max-width: 1708px) {
    .choice-container {
        width: 500px;
    }

    h2 {
        font-size: 1.4rem;
    }

    .choice-text {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 905px) {
    .choice-container {
        min-width: 40rem;
    }
}

@media screen and (max-width: 886px) {
    h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 770px) {
    h1 {
        font-size: 3rem;
    }

    #hud {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 668px) {
    .choice-container {
        min-width: 30rem;
        margin-bottom: 1rem;
    }
    
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 525px) {
    .choice-text {
        font-size: 1.2rem;
    }

    .choice-container {
        max-width: 20rem;
    }
    }

@media screen and (max-width: 485px) {
    .choice-container {
        font-size: 1rem;
        margin-right: 50px;
        min-width: 20rem;
    }

    .choice-text {
        font-size: 15px;
    }

    #question {
        font-size: 0.8rem;
    }
} 

@media screen and (max-width: 389px) {
    header > h1 {
        font-size: 1.5rem;
    }
}
