@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}
/*Headings*/
header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Cinzel', serif;
    color: snow;
    font-size: 4rem;
    padding-bottom: 75px;
}

/*Image*/
img {
    height: 500px;
    width: 500px;
    border: 3px solid #800020;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(128, 0, 32, 0.6);
}

.image {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}
/*CTA Lets play button*/
.playbtn {
    border: 3px solid #800020;
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    padding: 0.5em 1em;
    background-color: black;
    color: snow;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px rgba(128, 0, 32, 0.6);
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.playbtn:hover {
    color: black;
    background-color: #800020;
    font-weight: bolder;
}

.playbtn:active {
    color: snow;
    background-color: black;
    border: 3px solid rgba(128, 0, 32, 0.6);
}

.playbtn-wrapper {
    display: block;
    text-align: center;
}
/*Media Queries*/

/* For large screens from 1920px wide and down */
@media screen and (max-width: 1920px) {
    h1 {
        font-size: 6rem;
    }

    img {
        height: 700px;
        width: 700px;
    }

    .playbtn {
        font-size: 2.5rem;
    }
}

/* For large to screens from 1680px wide and down */
@media screen and (max-width: 1680px) {
    h1 {
        font-size: 5rem;
    }

    img {
        height: 500px;
        width:  500px;
    }
}

/* For medium screens from 1366px wide and down */
@media screen and (max-width: 1366px) {
    h1 {
        font-size: 4rem;
    }

    img {
        height: 450px;
        width: 450px;
    }

    .playbtn {
        font-size: 2rem;
    }
}

/* For medium screens from 1024px wide and down */
@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    img {
        height: 320px;
        width: 320px;
    }

    .playbtn {
        font-size: 1.5rem;
    }
}

/* For medium screens from 800px wide and down */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 3.5rem;
        padding-bottom: 275px;
    }

    img {
        height: 400px;
        width: 400px;
    }

    .playbtn {
        font-size: 2rem;
    }
}

/* For medium screens from 768px wide and down */
@media screen and (max-width: 768px) {
    h1 {
        padding-bottom: 225px;
    }
}
